<div class="card light-blue">
  <div class="card-content white-text">
    <span class="card-title">Quick Links</span>
    <ul class="collection">
      <li><%= link_to 'Published Books', books_path, :class => "collection-item" %></li>
      <li><%= link_to 'Under Contract', contracted_books_path, :class => "collection-item" %></li>
      <li><%= link_to 'New Proposals', proposed_books_path, :class => "collection-item" %></li>
      <li><%= link_to 'Add a New Book', new_book_path, :class => "collection-item" %></li>
    </ul>
  </div>
</div>
